.add-project-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-project-form {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.add-project-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-project-form .form-group {
  width: 100%;
  margin-bottom: 20px;
}

.add-project-form label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-project-form input,
.add-project-form textarea {
  width: 100%;
  padding: 15px 5px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin-bottom: 10px;
}

.add-project-form input[type="number"] {
  -moz-appearance: textfield;
}

.add-project-form input[type="number"]::-webkit-outer-spin-button,
.add-project-form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-project-form .submit-button {
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
  margin-left: 0;
}

.add-project-form .submit-button:hover {
  background-color: #005ae6;
}

.add-project-form .form-group.full-width {
  width: 100%;
}

/* Header section */
.header-image-container {
  max-height: 300px; /* add max-height */
}

.hidden-section {
  display: none;
  align-content: center;
  text-align: center;
  color: #005ae6;
}

.loading-dots {
  display: none;
}

/* Responsive design */
@media screen and (min-width: 768px) {
  .add-project-form {
    margin-top: 0px;
  }

  .add-project-form .form-group {
    width: calc(50% - 10px);
  }

  .add-project-form .form-group.full-width {
    width: 100%;
  }
}
